distro: xenial
cache: bundler
language: ruby
rvm:
  - 2.2.10
  - 2.3.8
  - 2.4.5
  - 2.5.3
before_install:
  - gem update bundler

# This prevents testing branches that are created just for PRs
branches:
  only:
  - master
